@using QASite.Data
@model HomePageViewModel 

<div class="row">
    <div class="col-md-8 offset-md-2">
        @foreach (Question q in Model.Questions)
        {
            <div class="card card-body bg-light">
                <h4>
                    <a href="/Home/SelectQuestion?id=@q.Id">
                        @q.Heading
                    </a>
                </h4>
                <div>
                    <span>Tags:</span>
                    @foreach (QuestionsTags t in q.QuestionsTags)
                    {
                <a href="/Home/QuestionsForTag?name=@t.Tag.Name">
                    <span class="badge badge-primary">@t.Tag.Name</span>
                </a>
                    }
                </div>
                <div style="margin-top: 10px;">
                   @((q.Text.Length <=200) ? q.Text : $"{q.Text.Substring(0,200)}...")
                </div>
                <span>Likes: @q.Likes</span>
                <br />
                <span>@q.Answers.Count answer(s)</span>
            </div>
        }
    </div>
</div>